
.t_flex-container {
display: flex;
flex-flow: row wrap;
justify-content: space-around;
border:3px solid rgb(8, 0, 0);
}
.t_flex-container p{
    text-align: center;
}
.t_flex-item {

width: 30%;
list-style-type: none;
}
.foto {
    border:3px solid rgb(8, 0, 0);
    width: 90%;
    height:300px;
    }